{% extends 'base.html' %}
{% block title %}Login | TaskNest{% endblock %}
{% block content %}

<h2>Welcome to TaskNest</h2>
<p>Log in to create your profile and start posting or browsing jobs.</p>
<form class="login-form" method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Log In</button>
    <div>
      <input type="checkbox" class="form-check-input" id="rememberMe">
      <label class="form-check-label" for="rememberMe">Remember Me</label>
    </div>
</form>

{% endblock %}
