{% extends 'base.html' %}
{% load static %}

{% block title %}Sign Up - TaskNest{% endblock %}

{% block content %}
<div>
  <h3>Create Your Account</h3>
</div>
<div class="signup-form">
  <form method="POST" novalidate>
    {% csrf_token %}
    {{ form.non_field_errors }}

    <div>
      <label for="id_username" class="form-label">Username</label>
      {{ form.username }}
    </div>

    <div>
      <label for="id_first_name" class="form-label">First Name</label>
      {{ form.first_name }}
    </div>

    <div>
      <label for="id_last_name" class="form-label">Last Name</label>
      {{ form.last_name }}
    </div>

    <div>
      <label for="id_email" class="form-label">Email</label>
      {{ form.email }}
    </div>

    <div>
      <label for="id_role" class="form-label">Role</label>
      {{ form.role }}
    </div>

    <div>
      <label for="id_current_occupation" class="form-label">Trade Specialism</label>
      {{ form.current_occupation }}
    </div>

    <div>
      <label for="id_password1" class="id_password1">Password</label>
      {{ form.password1 }}
      <span data-target="id_password1">
        <i class="fa fa-eye"></i>
      </span>
    </div>

    <div>
        <label for="id_password2" class="id_password2">Confirm Password</label>
        {{ form.password2 }}
        <span class="toggle-password position-absolute top-50 end-0 translate-middle-y me-3" data-target="id_password2">
            <i class="fa fa-eye"></i>
        </span>
    </div>

    <div class="d-grid">
      <button type="submit" class="btn btn-success">Sign Up</button>
    </div>
  </form>
  <div>
    <p>Already have an account? <a href="{% url 'login' %}">Login here</a></p>
  </div>
</div>

{% endblock %}
<script src="{% static 'core/js/auth.js' %}"></script>


