body {
    background-color: #f97316;
    font-family: 'Poppins', sans-serif;
    margin: auto;
}

.job-card img {
  object-fit: cover;
  height: 200px;
}
.hero {
  background-image: url('../images/tasknest-hero.jpg');
  background-size: cover;
  background-position: center;
  height: 400px;
  color: white;
  padding: 80px 20px;
  text-align: center;
}

a.disabled {
    pointer-events: none;
    cursor: default;
    color: grey;
}