{% extends "base.html" %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'core/css/edit_profile.css' %}">
{% endblock %}

{% block content %}
<div class="page-wrapper">
  <div class="responsive-form">

      <h2>Edit Profile</h2>

      <form method="post" enctype="multipart/form-data" class="profile-form">
          {% csrf_token %}

          <!-- Avatar -->
          <label for="id_avatar">Profile Picture</label>
          {{ form.avatar }}

          <!-- Role -->
          <label for="id_role">Account type</label>
          {{ form.role }}

          <!-- Occupation -->
          <label for="id_current_occupation">Trade</label>
          {{ form.current_occupation }}

          <!-- Location -->
          <label for="id_location">Location</label>
          {{ form.location }}

          <!-- Skills -->
          <label for="id_skills">Skills</label>
          {{ form.skills }}

          <!-- Qualification -->
          <label for="id_qualification">Qualification</label>
          {{ form.qualification }}
      <div class="form-buttons">
          <!-- Submit button -->
          <input type="submit" value="Save Changes">
          
          <!-- Back button -->
          <a href="{% url 'dashboard' %}" class="back-button">Back to Dashboard</a>
      </div>
      </form>
  </div>
</div>
{% endblock %}
